
*, 
*:after, /* 1 */
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#page, {
  max-width: 1280px;
  margin: 0 auto;
}

#skiplink {
  clip: rect(0 0 0 0);
  width:   1px;
  height:  1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border:  0;
  position: absolute;
}

main, body>footer {
  clear: both;
  max-width: 960px;
  margin: 2em auto;
}

/* Responsive */

$limit1 : 1200px;
$limit2 : 880px;
$limit3 : 680px;
$limit4 : 470px;

/* level 1 only (over 1200) */
@media screen and (min-width:$limit1) {
  .mod-header {
    & > .subtitle{
      margin-right: 12.66%;     
    }
    &:before, &>.mod-box:before {
      right: 54.5%;
    }
    &:before {
      bottom: -5em;
    }
    &>.mod-box:before {
      bottom: -5em;
      top: 43.6em;
    }
  }
  .mod-afloat {
    float: left;
    margin-bottom: -1.5em;
    padding: 0 2% image-height( $float );
    overflow: hidden;
    width: 16.5%;
    background: url('../img/float.png') no-repeat bottom center;
  }

  .mod-box {
    float: left;
    .mod-box-content {
      max-width: 360px;
    }
  }
  .mod-bullets {
    width: 83%;
  }

}

/* level 1 to 3 (over 680) */
@media screen and (min-width:$limit3) {
  .mod-box {
    margin-top: -4.9em;
  }
  .mod-bottom-aside {
    float: right;
    & + article {
      margin-right: 15em;
      padding-right: .75em;
    }
  }
}


/* level 2 and 3 (1200 < 680) */
@media screen and (max-width:$limit1) and (min-width:$limit3) {
  .mod-box {
    h2 {
      padding-left: 4em;      
    }
    .mod-box-content {
      max-width: 80%;
      text-align: left;
      padding-left: 242px;
    }   
  }
}

/* level 2 to 5 (under 1200) */
@media screen and (max-width:$limit1) {
  .mod-header {
    &:before, &>.mod-box:before {
      left: 0;
      width: 545px;
    }
    &:before {
      bottom: 21em;
    }
    &>.mod-box:before {
      top:53%;
      bottom: 8%;
    }
  }
  
  .mod-box {
    max-width: 90%;
    .mod-box-figure {
      float: left;
    }
    .mod-box-figure{
      img, &:before{
        margin-left: 4em;
      }
    }
  }

  .mod-feature {
    clear: both;
    margin-top: 31em;
    margin-left: 10%;

    .mod-feature-content{
      max-width: 90%;
    }
  }

  .mod-afloat {
    padding-right: image-width( $float );
    background-position: 100% 0;
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      height: image-height( $float );
      width: image-width( $float );
      background: url('../img/float.png') no-repeat;
      content: "";
    }
  }

  body > footer {
    margin: 2em .5em;
  }

}

/* level 3 to 5 (under 880) */
@media screen and (max-width:$limit2) {
  [id="news-title"] {
    font-size: 3em;
    padding-top: 130px;
  }
  .mod-feature {
    margin-top: 25em;
  }
  .subtitle time{
    display: block;
  }
}

/* level 4 and 5 (under 680) */
@media screen and (max-width:$limit3) {
  .mod-header {
    & > .site-title {
      font-size: 11em;
    }
    &:before, &>.mod-box:before {
      width: 100%;
    }
  }
  .mod-box {
    .mod-box-figure {
      float: none;
      margin-top: -2em;
    }
  }
  .mod-feature {
    margin-top: 16em;

    img {
      margin-top: -29em;
      max-width: 140%;
    }
  }
  .mod-bottom-aside {
    margin: .9em auto;
  }
  .mod-bluray img {
    margin-top: -42px;
  }
  .mod-bullets header {
    padding-right: 7.5rem;
  }
  .mod-bottom-aside {
    & > article {
      float: right;
    }
    article + article{
      margin-right: 3px;
    }
    & + article {
      clear: right;
    }
  }
}

/* level 5 only (under 470) */
@media screen and (max-width:$limit4) {
  .mod-bottom-aside {
    & > article {
      width: 49%;
      margin-right: 0;
    }
  }
}
