
#page{
	max-width: 1280px;
	margin: 0 auto;
}

@media screen and (max-width: 1285px) {
	#page{
		margin: 0 .5em;
	}
}

#skiplink {
	@extend .visuallyhidden;
}


.mod-box{
	width: 44%;
	float: left;
    margin-top: -10.1em;    
}
.mod-header>.mod-box:before {
	top: 15.6em;;
}
.mod-header>.mod-box:before {
    left: -96.6%;
}
