.mod-header, .mod-header>.mod-box {
    position: relative;
}
.mod-header:before, .mod-header>.mod-box:before {
	display: block;
    position: absolute;
	content: "";
	width: 10000em;
}
.mod-header:before {
	background: $color-bg2;
	top: 0;
	bottom: -14em;
	right: 54.5%;
	z-index: -35;
}
.mod-header>.mod-box:before {
	background: $color-bg1; /* Old browsers */
	background: -moz-linear-gradient(top, $color-bg1 0%, $color-bg2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color-bg1), color-stop(100%,$color-bg2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $color-bg1 0%,$color-bg2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $color-bg1 0%,$color-bg2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $color-bg1 0%,$color-bg2 100%); /* IE10+ */
	background: linear-gradient(to bottom, $color-bg1 0%,$color-bg2 100%); /* W3C */
	bottom: 6.6%;
	z-index: -30;
	top: 15.4em;
	right: 0;
}

.mod-header{
}
.mod-header>.site-title:first-line{
    letter-spacing: 0.038em;
}
.mod-header>.site-title{
	z-index: -5;
	color: #FFF;
    font-size: 17.45em;
    margin-left: 0.4em;
    padding: 0.125em 0 0 0.035em;
    max-width: 500px;
	margin-bottom: 0.165em;
    @include lato-hairline;
	letter-spacing: -0.04em;
 	line-height: 0.805;
 }
.mod-header>.subtitle{
	float: right;
	color: $color-gray-light;
    @include lora;
    font-size: 0.8em;
    margin-right: 12.44%;
    transform: scale(1, 0.95);
    margin-top: -30.7%;
    text-transform: uppercase;
	letter-spacing: 0.14em;
}


.mod-box{
	text-align: center;
	color: $color-gray-medium;
	max-width: 440px;
	float: left;
    margin-top: -4.9em;
    margin-bottom: 3em;
 	margin-left: 142px;
}
.mod-box-title{
	margin: 0.29em 0 -.5em;
    @include lora-bold;
    font-size: 2.25em;
}
.mod-box-content{
    font-size: 1.25em;
    margin-top: 1.1em;
    letter-spacing: -0.037em;
	line-height: 1.36em;
	max-width: 360px;
	margin-left: 40px;
	margin-right: 40px;
}
.mod-box-figure{
	position: relative;
	display: inline-block;
	padding-right: 11px;
}
.mod-box-figure>img, .mod-box>.mod-box-figure:before{
	box-shadow: 0 21px 9px -15px #7A6D64, 23px -23px 8px -20px #D9D5E5;
}
.mod-box-figure>img{
	position: inherit;
}
.mod-box>.mod-box-figure:before{
	position: absolute;
	background: url('../img/box-cover.jpg');
	width: 193px;
	height: 289px;
	content: "";
    left: -151px;
    top: -16px;
}


.mod-feature{
	position: relative;
	margin-left: 45.5%;
	padding-left: 2em;
}
.mod-feature-subtitle{
    @include lora-bold;
    color: $color-gray-lighter;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}
.mod-feature-title{
    @include oswald;
    font-size: 4.55em;
    letter-spacing: -0.07em;
    line-height: 1.1em;
    color: $color-sand;
    margin: 0;
    text-transform: uppercase;
}
.mod-feature-content{
    @include merriweather;
    font-size: 1.505em;
    letter-spacing: 0em;
    line-height: 1.37em;
    margin-top: -0.37em;
    max-width: 506px;
}
.mod-feature img{
	transform: rotate(-3.8deg);
	transform: -webkit-rotate(-3.8deg);
	max-width: 794px;
    margin-left: -7.4em;
	margin-top: -36.4em;
	z-index: -30;
}

main {
	clear: both;
}


/* Mod_Bullets */
.mod-afloat {
  @include oswald;
  float: left;
  text-align: right;
  overflow: hidden;
  padding: 0 2%;
  width: 16.5%;

  h2 {
    color: #24795a;
    font-size: 1.3125rem;
    font-weight: 300;
  }
}

.mod-bullets {
  width: 83%;

  header {
    overflow: hidden;
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 1rem 0;

    > * {
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }


  h2 {
    @include oswald;
    font-size: 1rem;
    font-weight: 300;
    color: #a97d35;
    width: 40%;
    text-align: right;
  }

  p {
    @include lato;
    font-weight: 400;
    font-size: .75rem;
    width: 58%;
    color: #e0c167;
  }

  li {
    width: 20%;
    padding: 0 2%;
    display: table-cell;
    font-size: 2rem;
    color: #e0e0e0;
    @include oswald;
    text-align: justify;
  }

  li + li {
    border-left: 1px solid;
  }
}
