/* ----------------------------- */
/* ==typography                  */
/* ----------------------------- */

/* CSSOFF */
@import url(http://fonts.googleapis.com/css?family=Lato:100&text=CSSOFF);
/* FEATURE|Model Box */
@import url(http://fonts.googleapis.com/css?family=Lora:700italic&text=FEATURMBodelx%20);
/* Route Gregory */
@import url(http://fonts.googleapis.com/css?family=Merriweather:900?text=GRoutergy%20);
@import url(http://fonts.googleapis.com/css?family=Lora:400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400|Merriweather:300,400|Lato:400);


%oswald {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
%merriweather {
  font-family: "Merriweather", serif;
}
%merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
}
%merriweather-heavy {
  font-family: "Merriweather", serif;
  font-weight: 900;
}
%lato {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
%lato-hairline {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
%lora {
  font-family: "Lora", serif;
  font-style: italic;
}
%lora-bold {
  font-family: "Lora", serif;
  font-weight: 700;
  font-style: italic;
}

/**
 * 1. Put the base font-size at 14px
 */
body {
  font-size: 1em; /* 1 */
  background: white;
}

/**
 * Font-sizing for content
 * Preserves vertical-rythm
 * Source: http://soqr.fr/vertical-rhythm/
 */
p, ul, ol, dl,
blockquote, pre,
td, th,
label, textarea,
caption, figure {
  line-height: 1.5;
  margin: .75em 0 0;
}

/**
 * 1. Orientation iOS font-size fix
 */
html {
  font-family: $regular-font-stack;
  line-height: 1.5;
  color: #000;

  @media (orientation: landscape) and (max-device-width: 768px) {
    -webkit-text-size-adjust: 100%; /* 1 */
  }
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
