/* ----------------------------- */
/* ==typography                  */
/* ----------------------------- */

/* CSSOFF */
@import url(http://fonts.googleapis.com/css?family=Lato:100&text=CSSOFF);
/* FEATURE|Model Box */
@import url(http://fonts.googleapis.com/css?family=Lora:700italic&text=FEATURMBodelx%20);
@import url(http://fonts.googleapis.com/css?family=Lora:400italic&text=VOLUME%203%E2%80%94SEPTEMBER2013);
@import url(http://fonts.googleapis.com/css?family=Oswald:400|Merriweather:300,400,900|Lato:400);
$oswald-font-stack: "Oswald", sans-serif;
$merriweather-font-stack: "Merriweather", serif;
$lato-font-stack: "Lato", sans-serif;
$lora-font-stack: "Lora", serif;

@mixin oswald() {
  font-family: $oswald-font-stack;
}
@mixin merriweather() {
  font-family: $merriweather-font-stack;
}
@mixin merriweather-light() {
  font-family: $merriweather-font-stack;
  font-weight: 300;
}
@mixin merriweather-heavy() {
  font-family: $merriweather-font-stack;
  font-weight: 900;
}
@mixin lato() {
  font-family: $lato-font-stack;
}
@mixin lato-hairline() {
  font-family: $lato-font-stack;
  font-weight: 100;
}
@mixin lora() {
  font-family: $lora-font-stack;
  font-style: italic;
}
@mixin lora-bold() {
  font-family: $lora-font-stack;
  font-weight: 700;
  font-style: italic;
}

/**
 * 1. Put the base font-size at 14px
 */
body {
  @include rem($base-font-size); /* 1 */
  background: white;
}

/**
 * Font-sizing for content
 * Preserves vertical-rythm
 * Source: http://soqr.fr/vertical-rhythm/
 */
p, ul, ol, dl,
blockquote, pre,
td, th,
label, textarea,
caption, figure {
  line-height: 1.5;
  margin: .75em 0 0;
}

/**
 * 1. Orientation iOS font-size fix
 */
html {
  font-family: $regular-font-stack;
  line-height: 1.5;
  color: #000;

  @media (orientation: landscape) and (max-device-width: 768px) {
    -webkit-text-size-adjust: 100%; /* 1 */
  }
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
