@charset "UTF-8";
@media print {
  /**
  * @author Gaël Poupard
  * @site Thème ffeeeedd
  * @lastmodified 2013-06-26
  * @subsection Références :
  * @see KNACSS.com V1.1 @author : Raphael Goetter, Alsacreations
  */

  /* ----------------------------- */
  /* ==Impression */
  /* ----------------------------- */

  /* Reset colors, background and shadows */
  * {
    background-color: #fff !important;
    box-shadow: none !important;
    color: #333 !important;
    -ms-filter: none !important;
    filter: none !important;
    text-shadow: none !important;
  }

  /* Reset body and fixes font units in points */
  body {
    font-family: "Century Gothic", "Gill Sans", "Avant Garde", Avenir, sans-serif;
    font-size: 12pt;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
  }

  .print-hidden {
    display: none; /* Hide unwanted contents */
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  ul,
  ol { margin: auto !important; }

  .print {
    display: block; /* Show desired contents */
  }

  .left,
  .right {
    display: block;
    float: none; /* Line up everything */
  }

  [class*="mw"],
  [class*="w9"],
  [class*="w8"],
  [class*="w7"],
  [class*="w6"],
  [class*="w5"],
  [class*="w4"],
  [class*="w3"],
  [class*="w2"],
  [class*="w1"] {
    width: 100%; /* Everything is full-width */
  }

  p,
  blockquote {
    orphans: 3; /* No orphans */
    widows: 3; /* No widows */
  }

  blockquote,
  ul,
  ol {
    page-break-inside: avoid; /* Avoid cutting those tags */
  }

  h1 {
    page-break-before: always; /* Another title, another page */
  }

  h1,
  h2,
  h3,
  caption {
    page-break-after: avoid; /* No cut after those tags */
  }

  a {
    color: #000 !important;
    text-decoration: underline !important;
  }

  a[href]:after {
    content: " (" attr(href) ") "; /* Show URLs */
  }

  a[href^="#"]:after,
  a[href^="javascript"]:after {
    content: ''; /* Hide anchor target */
  }

  abbr[title]:after {
    content: " ( " attr(title) " ) "; /* Show abbreviatinos' title */
  }
}
