/*----------------------------*\
 * Soft reset                 *
\*----------------------------*/

html, body {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 2em;

  &.unstyled { list-style: none; }
}

em { font-style: italic; }

strong { font-weight: bold; }

/**
 * Avoid top margins on first content element
 */
p, ul, ol dl,
blockquote, pre,
h1, h2, h3, h4, h5, h6 {
  &:first-child { margin-top: 0; }
}

/**
 * Avoid margins on nested elements
 */
li {
  p, ul, ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/**
 * Prevents those to break out of their container
 */
img, table, td, blockquote { max-width: 100%; }

/**
 * Pictures
 * 1. Bugfix for IE8
 * 2. Remove blue border on IE
 */
img {
  vertical-align: middle;
  width: auto; /* 1 */

  a & {
    border: 0; /* 2 */
  }
}

/**
 * Hide script and style tags in case of table mode
 */
body > script,
body > style { display: none !important; }
